src/main/resources/xsds/avia.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://www.gothmog.ru/avia-ws" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.gothmog.ru/avia-ws" elementFormDefault="qualified">

<xs:element name="getAllCities" type="tns:getAllCities"/>

<xs:element name="getAllCitiesResponse" type="tns:getAllCitiesResponse"/>

<xs:element name="searchFlight" type="tns:searchFlight"/>

<xs:element name="searchFlightResponse" type="tns:searchFlightResponse"/>

<xs:complexType name="getAllCities">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllCitiesResponse">
<xs:sequence>
<xs:element name="return" type="tns:city" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="city">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="tns:country" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="country">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="flag" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchFlight">
<xs:sequence>
<xs:element name="arg0" type="xs:long"/>
<xs:element name="arg1" type="tns:city" minOccurs="0"/>
<xs:element name="arg2" type="tns:city" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchFlightResponse">
<xs:sequence>
<xs:element name="return" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flight">
<xs:sequence>
<xs:element name="aircraft" type="tns:aircraft" minOccurs="0"/>
<xs:element name="cityFrom" type="tns:city" minOccurs="0"/>
<xs:element name="cityTo" type="tns:city" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="dateCome" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dateDepart" type="xs:dateTime" minOccurs="0"/>
<xs:element name="duration" type="xs:string" minOccurs="0"/>
<xs:element name="existFreePlaces" type="xs:boolean"/>
<xs:element name="id" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aircraft">
<xs:sequence>
<xs:element name="company" type="tns:company" minOccurs="0"/>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="placeList" type="tns:place" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="company">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="place">
<xs:sequence>
<xs:element name="busy" type="xs:boolean"/>
<xs:element name="flightClass" type="tns:flightClass" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="seatLetter" type="xs:unsignedShort"/>
<xs:element name="seatNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightClass">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:long"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>